<div class="container mt-3 d-flex flex-column align-items-center">
  <h1>Your Inventories</h1>
  <% if current_user %>
    <%= link_to "New Inventory", new_inventory_path, class: "btn btn-primary align-self-end" %> <!-- No layout design, it will look better on navbar -->
    <% if @inventories.empty? %>
      <div>
        <h3 class="text-center">No inventories yet.</h3>
      </div>
    <% else %>
    <div class="inventory-card">
      <% @inventories.each do |inventory| %>
        <div class="inventory-box">
          <div class="d-flex flex-column align-items-center flex-grow-1 gap-3">
            <h3 class="text-center"><%= link_to inventory.name, inventory_path(id: inventory.id), class: "text-dark" %></h3>
            <%= button_to "Remove", inventory, method: :delete, class:'btn btn-dark link' %>
          </div>
          <div class="flex-grow-1">
            <p><%= inventory.description %></p>
          </div>
        </div>
        
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>