<h2>Recipes</h2>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe, class:"link" do%>
      <%= render partial: "shared/recipe_index", locals: {recipe: recipe} %>
    <% end %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
