<div>  
  <div>
    <button> Add Food </button>
  </div>
  <div>
    <div>
        <div>Food</div
        <div>Measurement Unit</div>
        <div>Unit Price</div>
        <div>Actions</div>
    </div>
  </div>
</div>